@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --Black: #000000;
  --White: #ffffff;
  --Gray: #292929;
  --DarkGray: #212121;
  --Gradient: linear-gradient(110deg, #bff098, #6fd6ff);
  --Background: radial-gradient(#cdd0ff 1px, transparent 0),
    radial-gradient(#cdd0ff 1px, #fefefe 0);
  --DarkBackground: radial-gradient(#15155a 1px, #111 0),
    radial-gradient(#15155a 1px, #111 0);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Montserrat", "Just Another Hand", sans-serif;
  color: var(--Black);
  background-color: var(--BackgroundColor);
  background-image: var(--Background);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
